@import 'https://30sec.oss-cn-guangzhou.aliyuncs.com/public/SanCFont.css';
body {
    color: var(--text-color);
    background-color: var(--body-bgcolor);
    font-family: 'Noto Sans SC';
}

#alert-box {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    transition: all 0.1s;
    .alert {
        width: auto;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
        line-height: 40px;
        padding: 15px 25px;
        transition: all 0.2s;
        opacity: 0;
        margin-top: 0px;
        transform: translateY(-5px);
        white-space: nowrap;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
        font-size: 14px;
        border-radius: 7px;
        box-sizing: border-box;
        border: var(--border-width) rgb(230, 230, 230) solid;
        margin-bottom: 10px;
    }
    .alert-danger {
        background-color: #fceded;
        color: rgb(141, 47, 47);
    }
    .alert-success {
        background-color: rgb(245, 253, 248);
        color: rgb(52, 71, 46);
    }
    .alert-warning {
        background-color: rgb(255, 253, 247);
        color: rgb(206, 131, 69);
    }
    .icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .alert-show {
        opacity: 1;
        transform: translateY(0px);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }
    .alert-hidden {
        opacity: 0;
        margin-top: -60px;
    }
}