:root {
    // 全局
    --body-bgcolor: #fff; // body背景
    --text-color: rgb(51, 54, 57); // 全局文字颜色
    --text-color-invert: rgb(255, 255, 255);
    --border-radius: 8px;
    // 主题色
    --primary-color: rgb(59, 121, 208);
    --primary-color-light: rgb(59, 121, 208, 0.2);
    --primary-text-color: rgb(47, 88, 146);
    --primary-color-hover: rgb(54, 109, 187);
    --primary-color-active: rgb(42, 94, 149);
    //
    --success-color: rgb(49, 196, 141);
    --success-color-dark: rgb(35, 153, 110);
    --success-color-light: rgb(108, 176, 119, 0.2);
    --success-text-color: rgb(30, 107, 41);
    --success-color-hover: rgb(40, 176, 126);
    --success-color-active: rgb(28, 157, 110);
    //
    --danger-color: rgb(249, 128, 128);
    --danger-color-dark: rgb(197, 88, 88);
    --danger-color-light: rgb(249, 128, 128, 0.2);
    --danger-text-color: #d10000;
    --danger-color-hover: rgb(231, 113, 113);
    --danger-color-active: rgb(204, 92, 92);
    //
    --warning-color: rgb(227, 179, 68);
    --warning-color-dark: rgb(186, 132, 7);
    --warning-color-light: rgb(227, 160, 8, 0.2);
    --warning-text-color: rgb(187, 128, 9);
    --warning-color-hover: rgb(211, 150, 8);
    --warning-color-active: rgb(187, 133, 7);
    //
    --normal-color: rgb(236, 235, 235);
    --normal-color-dark: rgb(177, 176, 176);
    --normal-color-light: rgba(154, 154, 154, 0.2);
    --normal-text-color: rgb(66, 66, 66);
    --normal-color-hover: rgb(224, 223, 223);
    --normal-color-active: rgb(165, 161, 161);
    // 标题
    --title-bold: 800;
    --title-color: rgb(33, 33, 33); // 标题颜色
    // 表单样式
    --form-border: 1px rgba(0, 0, 0, 0.05) solid;
    --form-border-hover: 1px rgba(0, 0, 0, 0.08) solid;
    --form-border-active: 1px rgba(0, 0, 0, 0.12) solid;
    --form-border-radius: 8px;
    --form-outline-focus: 2px solid var(--primary-color);
    --form-bgcolor-focus: rgb(255, 255, 255);
    --form-text-color: #333;
    // 表单背景
    --form-bgcolor: rgba(6, 57, 88, 0.022);
    --form-bgcolor-hover: rgba(6, 57, 88, 0.06);
    --form-bgcolor-active: rgba(6, 57, 88, 0.12);
    // 表单背景2
    --form-bgcolor-high: rgba(6, 57, 88, 0.1);
    --form-bgcolor-high-hover: rgba(6, 57, 88, 0.16);
    --form-bgcolor-high-active: rgba(6, 57, 88, 0.2);
    // 按钮样式
    --button-border-radius: 8px;
    --button-bgcolor: rgba(0, 0, 0, 0.022);
    --button-text-color: #000;
    --button-border: 1px rgba(0, 0, 0, 0.05) solid;
}

.dark {
    // 通用样式
    --border: 1px #eee solid;
    --border-radius: 8px;
    --font-bold: 800;
    // 颜色
    --bgcolor-body: #fff; // body背景
    --color-text: rgb(33, 33, 33); // 全局文字颜色
    --color-title: rgb(33, 33, 33); // 标题颜色
    // 主题色
    --color-primary-1: rgb(30 66 159 / 0.6);
    --color-primary-2: rgb(30 66 159 / 0.8);
    --color-primary-3: rgb(30 66 159 / 1);
    --color-primary-1-hover: rgb(30 66 159 / 0.6);
    --color-primary-2-active: rgb(30 66 159 / 0.8);
    --color-primary-3-foucs: rgb(30 66 159 / 1);
    //
    --color-danger-1: rgb(159, 30, 30, 0.6);
    --color-danger-2: rgb(159, 30, 30, 0.8);
    --color-danger-3: rgb(159, 30, 30, 1);
    --color-danger-1-hover: rgb(159, 30, 30, 0.6);
    --color-danger-2-active: rgb(159, 30, 30, 0.8);
    --color-danger-3-foucs: rgb(159, 30, 30, 1);
}