body,
html {
  overflow: hidden;
  color: var(--lew-text-color-1);
  font-size: 14px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  background: var(--lew-bgcolor-4);
}

.docs-wrapper {
  .lew-table-td {
    font-family: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace !important;
  }
}

:root {
  --lew-siderbar-width: 280px;
  --lew-component-nav-width: 280px;
}

a {
  color: var(--lew-text-color-1);
}

.sub-title {
  color: var(--lew-text-color-4);
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.demo-tips {
  margin: 20px 0;
  color: var(--lew-text-color-6);
  font-weight: 400;
  font-size: 14px;
}

.guide-wrapper {
  p {
    margin: 10px 0 20px;
    color: var(--lew-text-color-5);
    font-size: 14px;
    line-height: 30px;
  }

  .pre-box {
    code {
      overflow: hidden;
      border-radius: var(--lew-border-radius-small);
    }
  }
}

.lew-docs-tag {
  box-sizing: border-box;
  padding: 3px 6px;
  color: var(--lew-text-color-0);
  background-color: var(--lew-color-gray-light);
  border-radius: 4px;
}
