#lew-message {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999999;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    .message {
        width: auto;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        height: 35px;
        line-height: 35px;
        padding: 15px;
        transition: all ease 0.25s;
        opacity: 0;
        margin-top: 0px;
        margin-bottom: 10px;
        transform: translateY(-3px);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        border-radius: var(--lew-border-radius);
        background-color: var(--lew-message-bgcolor);
        .content {
            max-width: 500px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        svg {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
    }
    .message-normal {
        color: var(--lew-normal-color-dark);
    }
    .message-error {
        color: var(--lew-error-color-dark);
    }
    .message-success {
        color: var(--lew-success-color-dark);
    }
    .message-info {
        color: var(--lew-info-color-dark);
    }
    .message-warning {
        color: var(--lew-warning-color-dark);
    }
    .message-icon {
        display: flex;
    }
    .message-show {
        opacity: 1;
        transform: translateY(0px);
    }
    .message-hidden {
        opacity: 0;
        margin-top: -40px;
    }
}
