.btf-scrollbar::-webkit-scrollbar {
    background-color: rgb(209 213 219 / 0);
    width: 5px;
    height: 5px;
}

.btf-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(126, 126, 126);
}

.btf-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(209 213 219 / 0);
    opacity: 0;
    border-radius: 5px;
}

.btf-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: var(--lew-bgcolor-3);
    opacity: 1;
    border-radius: 5px;
}

.tippy-box[data-lew~="tooltip"] {
    .tippy-content {
        padding: 5px 8px;
    }
}

.tippy-box[data-lew~="dropdown"] {
    .tippy-content {
        padding: 5px 8px;
    }
}

.tippy-box[data-lew~="popok"] {
    .tippy-content {
        padding: 5px;
    }
}

.tippy-box[data-lew~="popover"] {
    .tippy-content {
        padding: 5px;
    }
}

.tippy-box[data-lew~="select"] {
    .tippy-content {
        padding: 0px;
    }
}

.tippy-box[data-lew~="select-multiple"] {
    .tippy-content {
        padding: 5px 7px;
    }
}
