:root {
    // 全局
    --lew-white-color: #fff;
    --lew-white-text-color: rgba(255, 255, 255, 0.9);
    --lew-black-color: #000;
    --lew-black-text-color: rgba(0, 0, 0, 0.9);
    --lew-disabled-opacity: 0.5;
    --lew-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    // 背景
    --lew-bgcolor-0: rgb(255, 255, 255);
    --lew-bgcolor-1: rgb(250, 250, 250);
    --lew-bgcolor-2: rgb(245, 245, 245);
    --lew-bgcolor-3: rgb(235, 235, 235);
    --lew-bgcolor-4: rgb(225, 225, 225);
    --lew-bgcolor-5: rgb(215, 215, 215);
    --lew-bgcolor-6: rgb(205, 205, 205);
    --lew-bgcolor-7: rgb(195, 195, 195);
    --lew-bgcolor-8: rgb(185, 185, 185);
    --lew-bgcolor-9: rgb(175, 175, 175);
    // 背景反相
    --lew-bgcolor-0-invert: rgb(20, 20, 20);
    --lew-bgcolor-1-invert: rgb(30, 30, 30);
    --lew-bgcolor-2-invert: rgb(40, 40, 40);
    --lew-bgcolor-3-invert: rgb(50, 50, 50);
    --lew-bgcolor-4-invert: rgb(60, 60, 60);
    --lew-bgcolor-5-invert: rgb(70, 70, 70);
    --lew-bgcolor-6-invert: rgb(80, 80, 80);
    --lew-bgcolor-7-invert: rgb(90, 90, 90);
    --lew-bgcolor-8-invert: rgb(110, 110, 110);
    --lew-bgcolor-9-invert: rgb(120, 120, 120);
    // 字体颜色
    --lew-text-color-0: rgb(20, 20, 20);
    --lew-text-color-1: rgb(30, 30, 30);
    --lew-text-color-2: rgb(50, 50, 50);
    --lew-text-color-3: rgb(70, 70, 70);
    --lew-text-color-4: rgb(90, 90, 90);
    --lew-text-color-5: rgb(110, 110, 110);
    --lew-text-color-6: rgb(130, 130, 130);
    --lew-text-color-7: rgb(150, 150, 150);
    --lew-text-color-8: rgb(170, 170, 170);
    --lew-text-color-9: rgb(190, 190, 190);
    // 反相
    --lew-text-color-0-invert: rgb(255, 255, 255);
    --lew-text-color-1-invert: rgb(235, 235, 235);
    --lew-text-color-2-invert: rgb(215, 215, 215);
    --lew-text-color-3-invert: rgb(195, 195, 195);
    --lew-text-color-4-invert: rgb(175, 175, 175);
    --lew-text-color-5-invert: rgb(155, 155, 155);
    --lew-text-color-6-invert: rgb(135, 135, 135);
    --lew-text-color-7-invert: rgb(115, 115, 115);
    --lew-text-color-8-invert: rgb(95, 95, 95);
    --lew-text-color-9-invert: rgb(75, 75, 75);
    // 圆角
    --lew-border-radius: 8px;
    // 边界
    --lew-border-0: 1px solid rgb(245, 245, 245);
    --lew-border-1: 1px solid rgb(235, 235, 235);
    --lew-border-2: 1px solid rgb(225, 225, 225);
    --lew-border-3: 1px solid rgb(215, 215, 215);
    --lew-border-4: 1px solid rgb(205, 205, 205);
    --lew-border-5: 1px solid rgb(195, 195, 195);
    --lew-border-6: 1px solid rgb(185, 185, 185);
    --lew-border-7: 1px solid rgb(175, 175, 175);
    --lew-border-8: 1px solid rgb(165, 165, 165);
    --lew-border-9: 1px solid rgb(155, 155, 155);
    // 主题色
    --lew-primary-color: rgb(62, 127, 219);
    --lew-primary-color-dark: rgb(38, 84, 148);
    --lew-primary-color-light: rgb(217, 233, 255);
    --lew-primary-color-light2: rgb(190, 211, 239);
    --lew-primary-text-color: rgb(47, 88, 146);
    --lew-primary-color-hover: rgb(54, 109, 187);
    --lew-primary-color-active: rgb(42, 94, 149);
    --lew-primary-color-start: rgb(42, 94, 149);
    --lew-primary-color-end: rgb(197, 223, 251);
    //
    --lew-normal-color: rgb(240, 240, 240);
    --lew-normal-color-dark: rgb(105, 104, 104);
    --lew-normal-color-light: rgb(234, 234, 234);
    --lew-normal-color-light2: rgb(216, 214, 214);
    --lew-normal-text-color: rgb(66, 66, 66);
    --lew-normal-color-hover: rgb(235, 235, 235);
    --lew-normal-color-active: rgb(217, 217, 217);
    --lew-normal-color-start: rgb(119, 119, 119);
    --lew-normal-color-end: rgb(173, 171, 171);
    // success
    --lew-success-color: rgb(49, 196, 141);
    --lew-success-color-dark: rgb(35, 153, 110);
    --lew-success-color-light: rgb(229, 246, 235);
    --lew-success-color-light2: rgb(199, 230, 204);
    --lew-success-text-color: rgb(32, 161, 113);
    --lew-success-color-hover: rgb(40, 176, 126);
    --lew-success-color-active: rgb(28, 157, 110);
    --lew-success-color-start: rgb(38, 171, 122);
    --lew-success-color-end: rgb(158, 213, 193);
    // info
    --lew-info-color: var(--lew-primary-color);
    --lew-info-color-dark: var(--lew-primary-color-dark);
    --lew-info-color-light: var(--lew-primary-color-light);
    --lew-info-color-light2: var(--lew-primary-color-light2);
    --lew-info-text-color: var(--lew-primary-text-color);
    --lew-info-color-hover: var(--lew-primary-color-hover);
    --lew-info-color-active: var(--lew-primary-color-active);
    --lew-info-color-start: var(--lew-primary-color-start);
    --lew-info-color-end: var(--lew-primary-color-start);
    // warning
    --lew-warning-color: rgb(227, 179, 68);
    --lew-warning-color-dark: rgb(186, 132, 7);
    --lew-warning-color-light: rgb(255, 240, 209);
    --lew-warning-color-light2: rgb(236, 218, 177);
    --lew-warning-text-color: rgb(187, 128, 9);
    --lew-warning-color-hover: rgb(222, 161, 17);
    --lew-warning-color-active: rgb(187, 133, 7);
    --lew-warning-color-start: rgb(202, 160, 61);
    --lew-warning-color-end: rgb(236, 215, 166);
    // error
    --lew-error-color: rgb(249, 128, 128);
    --lew-error-color-dark: rgb(197, 88, 88);
    --lew-error-color-light: rgb(255, 234, 234);
    --lew-error-color-light2: rgb(236, 208, 208);
    --lew-error-text-color: #d10000;
    --lew-error-color-hover: rgb(231, 113, 113);
    --lew-error-color-active: rgb(204, 92, 92);
    --lew-error-color-start: rgb(189, 73, 73);
    --lew-error-color-end: rgb(235, 181, 181);
    // 标题
    --lew-title-bold: 800;
    // 表单样式
    --lew-form-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    --lew-form-border-width: 1.5px;
    --lew-form-transition: all 0.2s ease;
    --lew-form-border-color: rgb(245, 245, 245);
    --lew-form-border-color-hover: rgb(228, 228, 228);
    --lew-form-ouline: 3px var(--lew-primary-color-light) solid;
    // 表单尺寸
    --lew-form-input-padding-small: 2px 8px;
    --lew-form-input-padding-medium: 4px 10px;
    --lew-form-input-padding-large: 6px 12px;
    --lew-form-item-height-small: 26px;
    --lew-form-item-height-medium: 30px;
    --lew-form-item-height-large: 34px;
    --lew-form-input-line-height-small: 22px;
    --lew-form-input-line-height-medium: 24px;
    --lew-form-input-line-height-large: 26px;
    --lew-form-font-size-small: 13px;
    --lew-form-font-size-medium: 14px;
    --lew-form-font-size-large: 16px;
    // 表单背景
    --lew-form-bgcolor: rgb(247, 247, 247);
    --lew-form-bgcolor-hover: rgb(228, 228, 228);
    --lew-form-bgcolor-active: rgb(215, 215, 215);
    --lew-form-bgcolor-focus: rgb(255, 255, 255);
    --lew-form-border-color-active: rgba(0, 0, 0, 0.22);
    --lew-form-border-color-focus: var(--lew-primary-color);
    // form icon
    --lew-form-icon-opacity: 0.6;
    --lew-form-icon-opacity-hover: 0.8;
    // checkbox
    --lew-checkbox-block-color: var(--lew-bgcolor-2);
    --lew-checkbox-border-color: var(--lew-bgcolor-4);
    --lew-checkbox-color: var(--lew-primary-color);
    --lew-checkbox-color-dark: var(--lew-primary-color-dark);
    --lew-checkbox-color-light: var(--lew-primary-color-light);
    --lew-checkbox-border-color-hover: var(--lew-primary-color);
    --lew-radio-block-color: var(--lew-bgcolor-2);
    --lew-radio-border-color: var(--lew-bgcolor-4);
    --lew-radio-border-color-hover: var(--lew-primary-color);
    --lew-radio-color: var(--lew-primary-color);
    --lew-radio-color-dark: var(--lew-primary-color-dark);
    --lew-radio-color-light: var(--lew-primary-color-light);
    // tabs
    --lew-tabs-active-color: #fff;
    // dialog / modal
    --lew-modal-bgcolor: rgb(0, 0, 0, 0.1);
    //  dialog / modal box
    --lew-modal-box-bgcolor: #fff;
    --lew-modal-box-border: 1px #e2e2e2 solid;
    --lew-modal-box-shadow: 0 18px 36px #00000016;
    // loading
    --lew-loading-bgcolor: rgb(255, 255, 255, 0.8);
    // povpoer
    --lew-popover-bgcolor: #fff;
    // message
    --lew-message-bgcolor: rgba(255, 255, 255, 1);
    // notification
    --lew-notification-bgcolor: rgba(255, 255, 255, 1);
    // popover
    --lew-popover-border: 1px #dcdce0 solid;
    --lew-popover-box-shadow: 0 18px 36px #00000016;
    --lew-tooltip-box-left-shadow: 4px 0px 10px #00000027;
    --lew-tooltip-box-right-shadow: -4px 0px 10px #00000027;
    --lew-tooltip-box-top-shadow: 0 4px 10px #00000027;
    --lew-tooltip-box-bottom-shadow: 0 -4px 10px #00000027;
    // table
    --lew-table-border: 1px #f6f5f8 solid;
    --lew-table-scroll-line-color-start: rgba(0, 0, 0, 0);
    --lew-table-scroll-line-color-end: rgba(0, 0, 0, 0.2);
}

.lew-dark {
    // 全局
    --lew-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
    // 背景
    --lew-bgcolor-0: rgb(26, 27, 32);
    --lew-bgcolor-1: rgb(39, 40, 46);
    --lew-bgcolor-2: rgb(52, 53, 60);
    --lew-bgcolor-3: rgb(65, 66, 73);
    --lew-bgcolor-4: rgb(78, 79, 86);
    --lew-bgcolor-5: rgb(91, 92, 99);
    --lew-bgcolor-6: rgb(104, 105, 112);
    --lew-bgcolor-7: rgb(117, 118, 125);
    --lew-bgcolor-8: rgb(130, 131, 138);
    --lew-bgcolor-9: rgb(143, 144, 151);
    // 背景反相
    --lew-bgcolor-0-invert: rgb(255, 255, 255);
    --lew-bgcolor-1-invert: rgb(245, 245, 245);
    --lew-bgcolor-2-invert: rgb(235, 235, 235);
    --lew-bgcolor-3-invert: rgb(225, 225, 225);
    --lew-bgcolor-4-invert: rgb(215, 215, 215);
    --lew-bgcolor-5-invert: rgb(205, 205, 205);
    --lew-bgcolor-6-invert: rgb(195, 195, 195);
    --lew-bgcolor-7-invert: rgb(185, 185, 185);
    --lew-bgcolor-8-invert: rgb(175, 175, 175);
    --lew-bgcolor-9-invert: rgb(165, 165, 165);
    // 反相
    --lew-text-color-0: rgb(255, 255, 255);
    --lew-text-color-1: rgb(235, 235, 235);
    --lew-text-color-2: rgb(215, 215, 215);
    --lew-text-color-3: rgb(195, 195, 195);
    --lew-text-color-4: rgb(175, 175, 175);
    --lew-text-color-5: rgb(155, 155, 155);
    --lew-text-color-6: rgb(135, 135, 135);
    --lew-text-color-7: rgb(115, 115, 115);
    --lew-text-color-8: rgb(95, 95, 95);
    --lew-text-color-9: rgb(75, 75, 75);
    // 字体颜色
    --lew-text-color-0-invert: rgb(0, 0, 0);
    --lew-text-color-1-invert: rgb(30, 30, 30);
    --lew-text-color-2-invert: rgb(50, 50, 50);
    --lew-text-color-3-invert: rgb(70, 70, 70);
    --lew-text-color-4-invert: rgb(90, 90, 90);
    --lew-text-color-5-invert: rgb(110, 110, 110);
    --lew-text-color-6-invert: rgb(130, 130, 130);
    --lew-text-color-7-invert: rgb(150, 150, 150);
    --lew-text-color-8-invert: rgb(170, 170, 170);
    --lew-text-color-9-invert: rgb(190, 190, 190);
    // 边界
    --lew-border-0: 1px solid rgb(36, 37, 42);
    --lew-border-1: 1px solid rgb(49, 50, 56);
    --lew-border-2: 1px solid rgb(62, 63, 70);
    --lew-border-3: 1px solid rgb(75, 76, 83);
    --lew-border-4: 1px solid rgb(88, 89, 96);
    --lew-border-5: 1px solid rgb(101, 102, 109);
    --lew-border-6: 1px solid rgb(114, 115, 122);
    --lew-border-7: 1px solid rgb(127, 128, 135);
    --lew-border-8: 1px solid rgb(140, 141, 148);
    --lew-border-9: 1px solid rgb(153, 154, 161);
    // 主题色
    --lew-primary-color: rgb(50, 86, 136);
    --lew-primary-color-dark: rgb(68, 147, 212);
    --lew-primary-color-light: #354258;
    --lew-primary-color-light2: #374c6c;
    --lew-primary-color-hover: rgb(52, 91, 146);
    --lew-primary-color-active: rgb(26, 58, 92);
    // success
    --lew-success-color: rgb(32, 125, 91);
    --lew-success-color-dark: rgba(42, 255, 177, 0.834);
    --lew-success-color-light: #2a3d2e;
    --lew-success-color-light2: #3d5d42;
    --lew-success-color-hover: rgb(34, 134, 97);
    --lew-success-color-active: rgb(27, 109, 79);
    // info
    --lew-info-color: var(--lew-primary-color);
    --lew-info-color-dark: var(--lew-primary-color-dark);
    --lew-info-color-light: var(--lew-primary-color-light);
    --lew-info-color-light2: var(--lew-primary-color-light2);
    --lew-info-text-color: var(--lew-primary-text-color);
    --lew-info-color-hover: var(--lew-primary-color-hover);
    --lew-info-color-active: var(--lew-primary-color-active);
    --lew-info-color-start: var(--lew-primary-color-start);
    --lew-info-color-end: var(--lew-primary-color-start);
    // error
    --lew-error-color: rgb(161, 74, 74);
    --lew-error-color-dark: rgb(255, 95, 95);
    --lew-error-color-light: #432e2e;
    --lew-error-color-light2: #614140;
    --lew-error-text-color: rgb(255, 127, 127, 0.8);
    --lew-error-color-hover: rgb(175, 80, 80);
    --lew-error-color-active: rgb(123, 55, 55);
    // warning
    --lew-warning-color: rgb(149, 124, 64);
    --lew-warning-color-dark: rgb(255, 195, 54);
    --lew-warning-color-light: #372b15;
    --lew-warning-color-light2: #543c15;
    --lew-warning-text-color: rgb(255, 224, 100, 0.8);
    --lew-warning-color-hover: rgb(159, 132, 69);
    --lew-warning-color-active: rgb(126, 104, 53);
    // normal
    --lew-normal-color: rgb(84, 81, 81);
    --lew-normal-color-dark: rgb(193, 193, 193);
    --lew-normal-color-light: #2f2f2f;
    --lew-normal-color-light2: #464646;
    --lew-normal-text-color: rgba(218, 218, 218, 0.8);
    --lew-normal-color-hover: rgb(88, 88, 88);
    --lew-normal-color-active: rgb(75, 75, 75);
    // 表单样式
    --lew-form-border-width: 1.5px;
    --lew-form-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    --lew-form-border-color: rgb(77, 77, 77);
    --lew-form-border-color-hover: rgb(59, 58, 58);
    --lew-form-border-color-focus: #2da8ff;
    --lew-form-ouline: 3px var(--lew-primary-color-light) solid;
    // tabs
    --lew-tabs-active-color: rgb(77, 77, 77);
    // 表单背景
    --lew-form-bgcolor: #27282d;
    --lew-form-bgcolor-hover: #2a2a2f;
    --lew-form-bgcolor-active: #202025;
    --lew-form-bgcolor-focus: #1f1f22;
    // dialog / modal
    --lew-modal-bgcolor: rgba(0, 0, 0, 0.45);
    //  dialog / modal box
    --lew-modal-box-bgcolor: #323339;
    --lew-modal-box-border: 1px rgba(255, 255, 255, 0.05) solid;
    // loading
    --lew-loading-bgcolor: rgba(0, 0, 0, 0.7);
    // povpoer
    --lew-popover-bgcolor: #323339;
    // message
    --lew-message-bgcolor: #4d4d58;
    // notification
    --lew-notification-bgcolor: #4d4d58;
    // popover
    --lew-popover-border: 1px rgba(255, 255, 255, 0.227) solid;
    // table
    --lew-table-border: 1px rgba(255, 255, 255, 0.05) solid;
    --lew-table-scroll-line-color-start: rgba(0, 0, 0, 0);
    --lew-table-scroll-line-color-end: rgba(0, 0, 0, 0.2);
    // checkbox
    --lew-checkbox-block-color: var(--lew-bgcolor-2);
    --lew-checkbox-border-color: var(--lew-bgcolor-4);
    --lew-checkbox-color: #2da8ff;
    --lew-checkbox-color-dark: #2da8ff;
    --lew-checkbox-color-light: #0e5181;
    --lew-checkbox-border-color-hover: #2a97e6;
    // radio
    --lew-radio-block-color: var(--lew-bgcolor-2);
    --lew-radio-border-color: var(--lew-bgcolor-4);
    --lew-radio-color: #2da8ff;
    --lew-radio-color-dark: #2da8ff;
    --lew-radio-color-light: #0e5181;
    --lew-radio-border-color-hover: #2a97e6;
}