:root {
    // 全局
    // 背景
    --lew-bgcolor-0: rgb(255, 255, 255);
    --lew-bgcolor-1: rgb(245, 245, 245);
    --lew-bgcolor-2: rgb(235, 235, 235);
    --lew-bgcolor-3: rgb(225, 225, 225);
    --lew-bgcolor-4: rgb(215, 215, 215);
    --lew-bgcolor-5: rgb(205, 205, 205);
    --lew-bgcolor-6: rgb(195, 195, 195);
    --lew-bgcolor-7: rgb(185, 185, 185);
    --lew-bgcolor-8: rgb(175, 175, 175);
    --lew-bgcolor-9: rgb(165, 165, 165);
    --lew-bgcolor-mask: rgb(0, 0, 0, 0.5);
    // 背景反相
    --lew-bgcolor-0-invert: rgb(20, 20, 20);
    --lew-bgcolor-1-invert: rgb(30, 30, 30);
    --lew-bgcolor-2-invert: rgb(40, 40, 40);
    --lew-bgcolor-3-invert: rgb(50, 50, 50);
    --lew-bgcolor-4-invert: rgb(60, 60, 60);
    --lew-bgcolor-5-invert: rgb(70, 70, 70);
    --lew-bgcolor-6-invert: rgb(80, 80, 80);
    --lew-bgcolor-7-invert: rgb(90, 90, 90);
    --lew-bgcolor-8-invert: rgb(110, 110, 110);
    --lew-bgcolor-9-invert: rgb(120, 120, 120);
    // 字体颜色
    --lew-text-color-0: rgb(20, 20, 20);
    --lew-text-color-1: rgb(30, 30, 30);
    --lew-text-color-2: rgb(50, 50, 50);
    --lew-text-color-3: rgb(70, 70, 70);
    --lew-text-color-4: rgb(90, 90, 90);
    --lew-text-color-5: rgb(110, 110, 110);
    --lew-text-color-6: rgb(130, 130, 130);
    --lew-text-color-7: rgb(150, 150, 150);
    --lew-text-color-8: rgb(170, 170, 170);
    --lew-text-color-9: rgb(190, 190, 190);
    // 反相
    --lew-text-color-0-invert: rgb(255, 255, 255);
    --lew-text-color-1-invert: rgb(235, 235, 235);
    --lew-text-color-2-invert: rgb(215, 215, 215);
    --lew-text-color-3-invert: rgb(195, 195, 195);
    --lew-text-color-4-invert: rgb(175, 175, 175);
    --lew-text-color-5-invert: rgb(155, 155, 155);
    --lew-text-color-6-invert: rgb(135, 135, 135);
    --lew-text-color-7-invert: rgb(115, 115, 115);
    --lew-text-color-8-invert: rgb(95, 95, 95);
    --lew-text-color-9-invert: rgb(75, 75, 75);
    // 阴影
    --lew-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
    // 圆角
    --lew-border-radius: 6px;
    // 边界
    --lew-border-0: 1px solid rgb(245, 245, 245);
    --lew-border-1: 1px solid rgb(235, 235, 235);
    --lew-border-2: 1px solid rgb(225, 225, 225);
    --lew-border-3: 1px solid rgb(215, 215, 215);
    --lew-border-4: 1px solid rgb(205, 205, 205);
    --lew-border-5: 1px solid rgb(195, 195, 195);
    --lew-border-6: 1px solid rgb(185, 185, 185);
    --lew-border-7: 1px solid rgb(175, 175, 175);
    --lew-border-8: 1px solid rgb(165, 165, 165);
    --lew-border-9: 1px solid rgb(155, 155, 155);
    // 主题色
    --lew-primary-color: rgb(59, 121, 208);
    --lew-primary-color-light: rgb(217, 233, 255);
    --lew-primary-color-light2: rgb(169, 201, 245);
    --lew-primary-text-color: rgb(47, 88, 146);
    --lew-primary-color-hover: rgb(54, 109, 187);
    --lew-primary-color-active: rgb(42, 94, 149);
    //
    --lew-success-color: rgb(49, 196, 141);
    --lew-success-color-dark: rgb(35, 153, 110);
    --lew-success-color-light: rgb(216, 236, 219);
    --lew-success-color-light2: rgb(108, 176, 119);
    --lew-success-text-color: rgb(30, 107, 41);
    --lew-success-color-hover: rgb(40, 176, 126);
    --lew-success-color-active: rgb(28, 157, 110);
    //
    --lew-danger-color: rgb(249, 128, 128);
    --lew-danger-color-dark: rgb(197, 88, 88);
    --lew-danger-color-light: rgb(255, 234, 234);
    --lew-danger-color-light2: rgb(218, 173, 173);
    --lew-danger-text-color: #d10000;
    --lew-danger-color-hover: rgb(231, 113, 113);
    --lew-danger-color-active: rgb(204, 92, 92);
    //
    --lew-warning-color: rgb(227, 179, 68);
    --lew-warning-color-dark: rgb(186, 132, 7);
    --lew-warning-color-light: rgb(255, 240, 209);
    --lew-warning-color-light2: rgb(255, 237, 194);
    --lew-warning-text-color: rgb(187, 128, 9);
    --lew-warning-color-hover: rgb(211, 150, 8);
    --lew-warning-color-active: rgb(187, 133, 7);
    //
    --lew-normal-color: rgb(236, 235, 235);
    --lew-normal-color-dark: rgb(177, 176, 176);
    --lew-normal-color-light: rgb(219, 219, 219);
    --lew-normal-color-light2: rgba(154, 154, 154, 0.4);
    --lew-normal-text-color: rgb(66, 66, 66);
    --lew-normal-color-hover: rgb(225, 225, 225);
    --lew-normal-color-active: rgb(189, 188, 188);
    // 标题
    --lew-title-bold: 800;
    // 表单样式
    --lew-form-border-radius: 4px;
    --lew-form-border-width: 1.5px;
    --lew-form-border-color: rgb(245, 245, 245);
    --lew-form-border-color-hover: rgba(0, 0, 0, 0.08);
    --lew-form-border-color-active: rgba(0, 0, 0, 0.22);
    --lew-form-border-color-focus: var(--lew-primary-color);
    // 表单背景
    --lew-form-bgcolor: rgb(245, 245, 245);
    --lew-form-select-bgcolor: rgb(255, 255, 255);
    --lew-form-select-bgcolor-hover: rgb(243, 243, 243);
    --lew-form-bgcolor-hover: rgb(228, 228, 228);
    --lew-form-bgcolor-active: rgb(215, 215, 215);
    --lew-form-bgcolor-focus: rgb(255, 255, 255);
    // 表单背景2
    --lew-form-bgcolor-high: rgba(6, 57, 88, 0.1);
    --lew-form-bgcolor-high-hover: rgba(6, 57, 88, 0.16);
    --lew-form-bgcolor-high-active: rgba(6, 57, 88, 0.2);
}

.lew-dark {
    // 全局
    // 背景
    --lew-bgcolor-0: rgb(20, 20, 20);
    --lew-bgcolor-1: rgb(30, 30, 30);
    --lew-bgcolor-2: rgb(40, 40, 40);
    --lew-bgcolor-3: rgb(50, 50, 50);
    --lew-bgcolor-4: rgb(60, 60, 60);
    --lew-bgcolor-5: rgb(70, 70, 70);
    --lew-bgcolor-6: rgb(80, 80, 80);
    --lew-bgcolor-7: rgb(90, 90, 90);
    --lew-bgcolor-8: rgb(100, 100, 100);
    --lew-bgcolor-9: rgb(110, 110, 110);
    --lew-bgcolor-mask: rgb(255, 255, 255, 0.3);
    // 背景反相
    --lew-bgcolor-0-invert: rgb(255, 255, 255);
    --lew-bgcolor-1-invert: rgb(245, 245, 245);
    --lew-bgcolor-2-invert: rgb(235, 235, 235);
    --lew-bgcolor-3-invert: rgb(225, 225, 225);
    --lew-bgcolor-4-invert: rgb(215, 215, 215);
    --lew-bgcolor-5-invert: rgb(205, 205, 205);
    --lew-bgcolor-6-invert: rgb(195, 195, 195);
    --lew-bgcolor-7-invert: rgb(185, 185, 185);
    --lew-bgcolor-8-invert: rgb(175, 175, 175);
    --lew-bgcolor-9-invert: rgb(165, 165, 165);
    // 反相
    --lew-text-color-0: rgb(255, 255, 255);
    --lew-text-color-1: rgb(235, 235, 235);
    --lew-text-color-2: rgb(215, 215, 215);
    --lew-text-color-3: rgb(195, 195, 195);
    --lew-text-color-4: rgb(175, 175, 175);
    --lew-text-color-5: rgb(155, 155, 155);
    --lew-text-color-6: rgb(135, 135, 135);
    --lew-text-color-7: rgb(115, 115, 115);
    --lew-text-color-8: rgb(95, 95, 95);
    --lew-text-color-9: rgb(75, 75, 75);
    // 字体颜色
    --lew-text-color-0-invert: rgb(20, 20, 20);
    --lew-text-color-1-invert: rgb(30, 30, 30);
    --lew-text-color-2-invert: rgb(50, 50, 50);
    --lew-text-color-3-invert: rgb(70, 70, 70);
    --lew-text-color-4-invert: rgb(90, 90, 90);
    --lew-text-color-5-invert: rgb(110, 110, 110);
    --lew-text-color-6-invert: rgb(130, 130, 130);
    --lew-text-color-7-invert: rgb(150, 150, 150);
    --lew-text-color-8-invert: rgb(170, 170, 170);
    --lew-text-color-9-invert: rgb(190, 190, 190);
    // 边界
    --lew-border-0: 1px solid rgb(30, 30, 30);
    --lew-border-1: 1px solid rgb(40, 40, 40);
    --lew-border-2: 1px solid rgb(50, 50, 50);
    --lew-border-3: 1px solid rgb(60, 60, 60);
    --lew-border-4: 1px solid rgb(70, 70, 70);
    --lew-border-5: 1px solid rgb(80, 80, 80);
    --lew-border-6: 1px solid rgb(90, 90, 90);
    --lew-border-7: 1px solid rgb(100, 100, 100);
    --lew-border-8: 1px solid rgb(110, 110, 110);
    --lew-border-9: 1px solid rgb(120, 120, 120);
    // 阴影
    --lew-box-shadow: 0px 3px 15px rgba(243, 243, 243, 0.08);
    // 圆角
    --lew-border-radius: 6px;
    // 主题色
    --lew-primary-color: rgb(81, 131, 200);
    --lew-primary-color-light: rgb(181, 195, 216);
    --lew-primary-color-light2: rgb(169, 201, 245);
    --lew-primary-text-color: rgb(47, 88, 146);
    --lew-primary-color-hover: rgb(54, 109, 187);
    --lew-primary-color-active: rgb(42, 94, 149);
    //
    --lew-success-color: rgb(37, 150, 109);
    --lew-success-color-dark: rgb(35, 153, 110);
    --lew-success-color-light: rgb(186, 213, 190);
    --lew-success-color-light2: rgb(108, 176, 119);
    --lew-success-text-color: rgb(30, 107, 41);
    --lew-success-color-hover: rgb(40, 176, 126);
    --lew-success-color-active: rgb(28, 157, 110);
    //
    --lew-danger-color: rgb(211, 104, 104);
    --lew-danger-color-dark: rgb(197, 88, 88);
    --lew-danger-color-light: rgb(226, 201, 201);
    --lew-danger-color-light2: rgb(218, 173, 173);
    --lew-danger-text-color: #d10000;
    --lew-danger-color-hover: rgb(231, 113, 113);
    --lew-danger-color-active: rgb(204, 92, 92);
    //
    --lew-warning-color: rgb(186, 157, 90);
    --lew-warning-color-dark: rgb(186, 132, 7);
    --lew-warning-color-light: rgb(233, 217, 185);
    --lew-warning-color-light2: rgb(255, 237, 194);
    --lew-warning-text-color: rgb(152, 101, 0);
    --lew-warning-color-hover: rgb(190, 154, 70);
    --lew-warning-color-active: rgb(187, 133, 7);
    //
    --lew-normal-color: rgb(212, 207, 207);
    --lew-normal-color-dark: rgb(177, 176, 176);
    --lew-normal-color-light: rgb(185, 185, 185);
    --lew-normal-color-light2: rgba(154, 154, 154, 0.4);
    --lew-normal-text-color: rgb(66, 66, 66);
    --lew-normal-color-hover: rgb(225, 225, 225);
    --lew-normal-color-active: rgb(189, 188, 188);
    // 表单样式
    --lew-form-border-width: 1.5px;
    --lew-form-border-color: rgba(177, 177, 177, 0.03);
    --lew-form-border-color-hover: rgba(194, 194, 194, 0.08);
    --lew-form-border-color-active: rgba(96, 96, 96, 0.8);
    --lew-form-border-color-focus: var(--lew-primary-color);
    // 表单背景
    --lew-form-bgcolor: rgb(35, 35, 35);
    --lew-form-select-bgcolor: rgb(50, 50, 50);
    --lew-form-select-bgcolor-hover: rgb(41, 41, 41);
    --lew-form-select-bgcolor-active: rgb(28, 28, 28);
    --lew-form-bgcolor-hover: rgba(51, 51, 51, 1);
    --lew-form-bgcolor-active: rgb(32, 32, 32);
    --lew-form-bgcolor-focus: rgb(45, 45, 45);
    // 表单背景2
    --lew-form-bgcolor-high: rgba(71, 71, 71, 0.5);
    --lew-form-bgcolor-high-hover: rgba(71, 71, 71, 0.801);
    --lew-form-bgcolor-high-active: rgba(71, 71, 71, 1);
}