:root {
    // 全局
    --lew-white-color: #fff;
    --lew-white-text-color: rgba(255, 255, 255, 0.9);
    --lew-black-color: #000;
    --lew-black-text-color: rgba(0, 0, 0, 0.9);
    --lew-disabled-opacity: 0.5;
    // 背景
    --lew-bgcolor-0: rgb(255, 255, 255);
    --lew-bgcolor-1: rgb(250, 250, 250);
    --lew-bgcolor-2: rgb(245, 245, 245);
    --lew-bgcolor-3: rgb(235, 235, 235);
    --lew-bgcolor-4: rgb(225, 225, 225);
    --lew-bgcolor-5: rgb(215, 215, 215);
    --lew-bgcolor-6: rgb(205, 205, 205);
    --lew-bgcolor-7: rgb(195, 195, 195);
    --lew-bgcolor-8: rgb(185, 185, 185);
    --lew-bgcolor-9: rgb(175, 175, 175);
    // 背景反相
    --lew-bgcolor-0-invert: rgb(20, 20, 20);
    --lew-bgcolor-1-invert: rgb(30, 30, 30);
    --lew-bgcolor-2-invert: rgb(40, 40, 40);
    --lew-bgcolor-3-invert: rgb(50, 50, 50);
    --lew-bgcolor-4-invert: rgb(60, 60, 60);
    --lew-bgcolor-5-invert: rgb(70, 70, 70);
    --lew-bgcolor-6-invert: rgb(80, 80, 80);
    --lew-bgcolor-7-invert: rgb(90, 90, 90);
    --lew-bgcolor-8-invert: rgb(110, 110, 110);
    --lew-bgcolor-9-invert: rgb(120, 120, 120);
    // 字体颜色
    --lew-text-color-0: rgb(20, 20, 20);
    --lew-text-color-1: rgb(30, 30, 30);
    --lew-text-color-2: rgb(50, 50, 50);
    --lew-text-color-3: rgb(70, 70, 70);
    --lew-text-color-4: rgb(90, 90, 90);
    --lew-text-color-5: rgb(110, 110, 110);
    --lew-text-color-6: rgb(130, 130, 130);
    --lew-text-color-7: rgb(150, 150, 150);
    --lew-text-color-8: rgb(170, 170, 170);
    --lew-text-color-9: rgb(190, 190, 190);
    // 反相
    --lew-text-color-0-invert: rgb(255, 255, 255);
    --lew-text-color-1-invert: rgb(235, 235, 235);
    --lew-text-color-2-invert: rgb(215, 215, 215);
    --lew-text-color-3-invert: rgb(195, 195, 195);
    --lew-text-color-4-invert: rgb(175, 175, 175);
    --lew-text-color-5-invert: rgb(155, 155, 155);
    --lew-text-color-6-invert: rgb(135, 135, 135);
    --lew-text-color-7-invert: rgb(115, 115, 115);
    --lew-text-color-8-invert: rgb(95, 95, 95);
    --lew-text-color-9-invert: rgb(75, 75, 75);
    // 阴影
    --lew-box-shadow: 0px 1px 2px rgba(61, 109, 178, 0.15), 0px 4px 16px rgba(61, 109, 179, 0.2);
    // 圆角
    --lew-border-radius: 6px;
    // 边界
    --lew-border-0: 1px solid rgb(245, 245, 245);
    --lew-border-1: 1px solid rgb(235, 235, 235);
    --lew-border-2: 1px solid rgb(225, 225, 225);
    --lew-border-3: 1px solid rgb(215, 215, 215);
    --lew-border-4: 1px solid rgb(205, 205, 205);
    --lew-border-5: 1px solid rgb(195, 195, 195);
    --lew-border-6: 1px solid rgb(185, 185, 185);
    --lew-border-7: 1px solid rgb(175, 175, 175);
    --lew-border-8: 1px solid rgb(165, 165, 165);
    --lew-border-9: 1px solid rgb(155, 155, 155);
    // 主题色
    --lew-primary-color: rgb(59, 121, 208);
    --lew-primary-color-dark: rgb(38, 84, 148);
    --lew-primary-color-light: rgb(217, 233, 255);
    --lew-primary-color-light2: rgb(190, 211, 239);
    --lew-primary-text-color: rgb(47, 88, 146);
    --lew-primary-color-hover: rgb(54, 109, 187);
    --lew-primary-color-active: rgb(42, 94, 149);
    //
    --lew-normal-color: rgb(240, 240, 240);
    --lew-normal-color-dark: rgb(177, 176, 176);
    --lew-normal-color-light: rgb(234, 234, 234);
    --lew-normal-color-light2: rgb(216, 214, 214);
    --lew-normal-text-color: rgb(66, 66, 66);
    --lew-normal-color-hover: rgb(235, 235, 235);
    --lew-normal-color-active: rgb(217, 217, 217);
    // success
    --lew-success-color: rgb(49, 196, 141);
    --lew-success-color-dark: rgb(35, 153, 110);
    --lew-success-color-light: rgb(229, 246, 235);
    --lew-success-color-light2: rgb(199, 230, 204);
    --lew-success-text-color: rgb(32, 161, 113);
    --lew-success-color-hover: rgb(40, 176, 126);
    --lew-success-color-active: rgb(28, 157, 110);
    // info
    --lew-info-color: rgb(59, 121, 208);
    --lew-info-color-dark: rgb(33, 83, 153);
    --lew-info-color-light: rgb(217, 233, 255);
    --lew-info-color-light2: rgb(190, 211, 239);
    --lew-info-text-color: rgb(47, 88, 146);
    --lew-info-color-hover: rgb(54, 109, 187);
    --lew-info-color-active: rgb(42, 94, 149);
    // warning
    --lew-warning-color: rgb(227, 179, 68);
    --lew-warning-color-dark: rgb(186, 132, 7);
    --lew-warning-color-light: rgb(255, 240, 209);
    --lew-warning-color-light2: rgb(236, 218, 177);
    --lew-warning-text-color: rgb(187, 128, 9);
    --lew-warning-color-hover: rgb(222, 161, 17);
    --lew-warning-color-active: rgb(187, 133, 7);
    // error
    --lew-error-color: rgb(249, 128, 128);
    --lew-error-color-dark: rgb(197, 88, 88);
    --lew-error-color-light: rgb(255, 234, 234);
    --lew-error-color-light2: rgb(236, 208, 208);
    --lew-error-text-color: #d10000;
    --lew-error-color-hover: rgb(231, 113, 113);
    --lew-error-color-active: rgb(204, 92, 92);
    // 标题
    --lew-title-bold: 800;
    // 表单样式
    --lew-form-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    --lew-form-border-radius: 4px;
    --lew-form-border-width: 1.5px;
    --lew-form-transition: all 0.2s ease;
    --lew-form-border-color: rgb(245, 245, 245);
    --lew-form-border-color-hover: rgb(228, 228, 228);
    --lew-form-border-color-active: rgba(0, 0, 0, 0.22);
    --lew-form-border-color-focus: var(--lew-primary-color);
    // 表单尺寸
    --lew-form-input-padding-small: 2px 8px;
    --lew-form-input-padding-medium: 4px 10px;
    --lew-form-input-padding-large: 6px 12px;
    --lew-form-input-height-small: 26px;
    --lew-form-input-height-medium: 32px;
    --lew-form-input-height-large: 36px;
    --lew-form-input-line-height-small: 24px;
    --lew-form-input-line-height-medium: 24px;
    --lew-form-input-line-height-large: 28px;
    --lew-form-font-size-small: 14px;
    --lew-form-font-size-medium: 14px;
    --lew-form-font-size-large: 16px;
    // 表单背景
    --lew-form-bgcolor: rgb(245, 245, 245);
    --lew-form-bgcolor-hover: rgb(228, 228, 228);
    --lew-form-bgcolor-active: rgb(215, 215, 215);
    --lew-form-bgcolor-focus: rgb(255, 255, 255);
    // 表单背景2
    --lew-form-bgcolor-high: rgba(6, 57, 88, 0.1);
    --lew-form-bgcolor-high-hover: rgba(6, 57, 88, 0.16);
    --lew-form-bgcolor-high-active: rgba(6, 57, 88, 0.2);
    // dialog / modal
    --lew-modal-bgcolor: rgb(0, 0, 0, 0.5);
    // loading
    --lew-loading-bgcolor: rgb(0, 0, 0, 0.1);
    // povpoer
    --lew-povpoer-bgcolor: rgba(255, 255, 255);
    // plyr
    --plyr-color-main: var(--lew-primary-color);
    // message
    --lew-message-bgcolor: rgba(255, 255, 255, 0.8);
    // notification
    --lew-notification-bgcolor: rgba(255, 255, 255, 0.8);
}

.lew-dark {
    // 全局
    // 背景
    --lew-bgcolor-0: rgb(20, 20, 20);
    --lew-bgcolor-1: rgb(30, 30, 30);
    --lew-bgcolor-2: rgb(40, 40, 40);
    --lew-bgcolor-3: rgb(50, 50, 50);
    --lew-bgcolor-4: rgb(60, 60, 60);
    --lew-bgcolor-5: rgb(70, 70, 70);
    --lew-bgcolor-6: rgb(80, 80, 80);
    --lew-bgcolor-7: rgb(90, 90, 90);
    --lew-bgcolor-8: rgb(100, 100, 100);
    --lew-bgcolor-9: rgb(110, 110, 110);
    // 背景反相
    --lew-bgcolor-0-invert: rgb(255, 255, 255);
    --lew-bgcolor-1-invert: rgb(245, 245, 245);
    --lew-bgcolor-2-invert: rgb(235, 235, 235);
    --lew-bgcolor-3-invert: rgb(225, 225, 225);
    --lew-bgcolor-4-invert: rgb(215, 215, 215);
    --lew-bgcolor-5-invert: rgb(205, 205, 205);
    --lew-bgcolor-6-invert: rgb(195, 195, 195);
    --lew-bgcolor-7-invert: rgb(185, 185, 185);
    --lew-bgcolor-8-invert: rgb(175, 175, 175);
    --lew-bgcolor-9-invert: rgb(165, 165, 165);
    // 反相
    --lew-text-color-0: rgb(255, 255, 255);
    --lew-text-color-1: rgb(235, 235, 235);
    --lew-text-color-2: rgb(215, 215, 215);
    --lew-text-color-3: rgb(195, 195, 195);
    --lew-text-color-4: rgb(175, 175, 175);
    --lew-text-color-5: rgb(155, 155, 155);
    --lew-text-color-6: rgb(135, 135, 135);
    --lew-text-color-7: rgb(115, 115, 115);
    --lew-text-color-8: rgb(95, 95, 95);
    --lew-text-color-9: rgb(75, 75, 75);
    // 字体颜色
    --lew-text-color-0-invert: rgb(20, 20, 20);
    --lew-text-color-1-invert: rgb(30, 30, 30);
    --lew-text-color-2-invert: rgb(50, 50, 50);
    --lew-text-color-3-invert: rgb(70, 70, 70);
    --lew-text-color-4-invert: rgb(90, 90, 90);
    --lew-text-color-5-invert: rgb(110, 110, 110);
    --lew-text-color-6-invert: rgb(130, 130, 130);
    --lew-text-color-7-invert: rgb(150, 150, 150);
    --lew-text-color-8-invert: rgb(170, 170, 170);
    --lew-text-color-9-invert: rgb(190, 190, 190);
    // 边界
    --lew-border-0: 1px solid rgb(30, 30, 30);
    --lew-border-1: 1px solid rgb(40, 40, 40);
    --lew-border-2: 1px solid rgb(50, 50, 50);
    --lew-border-3: 1px solid rgb(60, 60, 60);
    --lew-border-4: 1px solid rgb(70, 70, 70);
    --lew-border-5: 1px solid rgb(80, 80, 80);
    --lew-border-6: 1px solid rgb(90, 90, 90);
    --lew-border-7: 1px solid rgb(100, 100, 100);
    --lew-border-8: 1px solid rgb(110, 110, 110);
    --lew-border-9: 1px solid rgb(120, 120, 120);
    // 阴影
    --lew-box-shadow: 0px 3px 15px rgba(243, 243, 243, 0.08);
    // 圆角
    --lew-border-radius: 6px;
    // 主题色
    --lew-primary-color: rgb(50, 86, 136);
    --lew-primary-color-dark: rgb(75, 126, 198);
    --lew-primary-color-light: #273141;
    --lew-primary-color-light2: #374c6c;
    --lew-primary-color-hover: rgb(52, 91, 146);
    --lew-primary-color-active: rgb(26, 58, 92);
    // success
    --lew-success-color: rgb(32, 125, 91);
    --lew-success-color-dark: rgb(35, 153, 110);
    --lew-success-color-light: #2a3d2e;
    --lew-success-color-light2: #3d5d42;
    --lew-success-color-hover: rgb(34, 134, 97);
    --lew-success-color-active: rgb(27, 109, 79);
    // info
    --lew-info-color: rgb(50, 86, 136);
    --lew-info-color-dark: rgb(75, 126, 198);
    --lew-info-color-light: #273141;
    --lew-info-color-light2: #374c6c;
    --lew-info-text-color: rgba(173, 207, 255, 0.8);
    --lew-info-color-hover: rgb(52, 91, 146);
    --lew-info-color-active: rgb(26, 58, 92);
    // error
    --lew-error-color: rgb(161, 74, 74);
    --lew-error-color-dark: rgb(197, 88, 88);
    --lew-error-color-light: #432e2e;
    --lew-error-color-light2: #614140;
    --lew-error-text-color: rgb(255, 127, 127, 0.8);
    --lew-error-color-hover: rgb(175, 80, 80);
    --lew-error-color-active: rgb(123, 55, 55);
    // warning
    --lew-warning-color: rgb(149, 124, 64);
    --lew-warning-color-dark: rgb(186, 132, 7);
    --lew-warning-color-light: #372b15;
    --lew-warning-color-light2: #543c15;
    --lew-warning-text-color: rgb(255, 224, 100, 0.8);
    --lew-warning-color-hover: rgb(159, 132, 69);
    --lew-warning-color-active: rgb(126, 104, 53);
    // normal
    --lew-normal-color: rgb(84, 81, 81);
    --lew-normal-color-dark: rgb(103, 101, 101);
    --lew-normal-color-light: #2f2f2f;
    --lew-normal-color-light2: #464646;
    --lew-normal-text-color: rgb(212, 212, 212, 0.8);
    --lew-normal-color-hover: rgb(88, 88, 88);
    --lew-normal-color-active: rgb(75, 75, 75);
    // 表单样式
    --lew-form-border-width: 1.5px;
    --lew-form-border-color: rgb(35, 35, 35);
    --lew-form-border-color-hover: rgb(40, 40, 40);
    --lew-form-border-color-active: rgba(96, 96, 96, 0.8);
    --lew-form-border-color-focus: var(--lew-primary-color);
    // 表单背景
    --lew-form-bgcolor: rgb(35, 35, 35);
    --lew-form-bgcolor-hover: rgb(40, 40, 40);
    --lew-form-bgcolor-active: rgb(32, 32, 32);
    --lew-form-bgcolor-focus: rgb(45, 45, 45);
    // 表单背景2
    --lew-form-bgcolor-high: rgba(71, 71, 71, 0.5);
    --lew-form-bgcolor-high-hover: rgba(71, 71, 71, 0.801);
    --lew-form-bgcolor-high-active: rgba(71, 71, 71, 1);
    // dialog / modal
    --lew-modal-bgcolor: rgba(175, 175, 175, 0.05);
    // loading
    --lew-loading-bgcolor: rgba(175, 175, 175, 0.01);
    // povpoer
    --lew-povpoer-bgcolor: #333;
    // plyr
    --plyr-color-main: var(--lew-primary-color);
    // message
    --lew-message-bgcolor: rgba(128, 128, 128, 0.231);
    // notification
    --lew-notification-bgcolor: rgba(128, 128, 128, 0.231);
}